.characterInfo {
    margin-bottom: 3%;
    width: 550px;
    margin-left: 5%;
    margin-right:20%;
    border-radius: 5px;
    border:2px solid gray;
    padding:5px;
    text-align: center;
}

.characterName {
    margin-top: 5%;
}
.characterNametitle {
    font-size: 5px;
    border-radius: 30px;
    background-color: lightgray;
}

.characterNamevalue {
    font-size: 13px;
}

.characterMoney {
    margin-top: 5%;
    margin-bottom: 5%;
}

.characterMoneytitle {
    font-size: 10px;
    border-radius: 30px;
    background-color: lightgray;
}

.characterMoneyvalue {
    font-size: 13px;
}

.ListInfoBody_input_col {
    width: 90%;
    margin-left: 3%;
}

.ListInfoBody_input {
    margin-left: 3%;
    width: 100%;
    height: 40px;
}

.moneytitle {
    font-size: 12px;

}

.money {
    height: 40px;
    font-size: 12px;
}