.Submyli{
    display: block;
    background-color: #fff;
    margin-left: 5px;
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;
}

.myimg{
    width: 30px;
    margin: 0 auto;
}

.card-body{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width:  100%;
}
.ChartDiv div{
    width: 100% !important;
} //생각해보기 상욱
